html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: #111;
}